<div class="col-md-6 col-lg-3">
    <div class="card report-card">
        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <p class="text-dark mb-0 fw-semibold">@Localizer["Measurment Units"]</p>
                    <h3 class="m-0">@Model</h3>
                    <p class="mb-0 text-truncate text-muted">
                        <span class="text-success">
                            <a href="@Url.Action("Index", "MeasurmentUnit")" class="text-primary">@Localizer["Add Measurment Units"]</a>
                    </p>
                </div>
                <div class="col-auto align-self-center">
                    <div class="report-main-icon bg-light-alt">
                        <i data-feather="activity" class="align-self-center text-muted icon-sm"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>